// for index.styl. its job is to override the default styles of application.
// According to the priority principle of css, the later style has a higher priority
// so it should be generated at the end of the CSS file.

body
  font-family "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;